@model IEnumerable<part5.data.Entities.Post>
@{
    ViewBag.Title = "Bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var i = 1;
}
<div>
    <h2>Quản lý bài viết</h2>
    <a href="/admin/post/createhandle" class="btn btn-primary"><i class="fa fa-plus"></i> Tạo bài viết</a>
    <hr />
    <table class="table table-hover table-light">
        <thead>
            <tr>
                <th>TT</th>
                <th>Tên</th>
                <th>Người đăng</th>
                <th>Thời gian</th>
                <th>Danh mục</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(++i)</td>
                    <td>@item.Title</td>
                    <td>@item.CreatedBy</td>
                    <td>@Convert.ToDateTime(item.CreatedTime).ToString("HH:mm:ss dd/MM/yyyy")</td>
                    <td>@item.CategoryId</td>
                    <td>@item.PostStatus</td>
                    <td><a href="/admin/post/handlepostpage/@item.Id"><i class="fa fa-edit"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

